<form>
    <h2>Atualizar Serviço</h2>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <label>Descrição*</label>
                <input name="descricao" [(ngModel)]="servicoprestado.descricao" type="text" class="form-control" required/>
            </div>
            <div class="col-md-6">
                <label>Valor*</label>
                <input name="valor" [(ngModel)]="servicoprestado.valor" type="text" class="form-control" required/>
            </div>
        </div>

        <div class="buttons mt-3">
            <button (click)="atualizar()" type="submit" class="btn btn-success">Salvar</button>
            <button (click)="voltar()" class="btn btn-warning">Voltar</button>
        </div>

    </div>
</form>
