<div class="container mt-4">
<div class="card text-center">
    <div class="card-header">
        <b>
            <h2>Bem Vindo!</h2>
        </b>
    </div>
      <div class="card-body">
        
        <p class="card-text">
          <b>Sistema para Barbearia</b>
          <br>
          Exemplificando um CRUD para gerenciamento de Clientes, Barbeiros, Serviços e realização de Agendamentos.
          <br>
          <br>
          <b>Banco de dados</b><br>
          MySQL via RDS na AWS.
          <br>
          <br>
          <b>Link da API no Heroku</b>
          <br>[BASE]: https://api-barber-system.herokuapp.com/<br>
          https://api-barber-system.herokuapp.com/api/clientes<br>
          https://api-barber-system.herokuapp.com/api/barbeiros<br>
          https://api-barber-system.herokuapp.com/api/servicos-prestados<br>
          https://api-barber-system.herokuapp.com/api/agendamentos<br>
          <br>
        <b>Repositórios no GitHub</b> <br>
        API: https://github.com/odeivissonsantos/API-Barber-System<br>
        Angular: https://github.com/odeivissonsantos/Barber-System-Angular
        </p>
        
      </div>
</div>
</div>