<div class="container">
<div class="card text-center">
    <div class="card-header">
        <b>
            <h2>Bem Vindo!</h2>
        </b>
    </div>
      <div class="card-body">
        
        <p class="card-text">Sistema para Barbearia.
          <br>
          <br>
          Exemplificando um CRUD usando Angular, consumindo a api Spring Boot na nuvem do Heroku: 
          https://api-barber-system.herokuapp.com/. 
          <br>
          <br>
        Repositório no GitHub <br>
        API: https://github.com/odeivissonsantos/API-Barber-System<br>
        Angular: https://github.com/odeivissonsantos/Barber-System-Angular
        </p>
        
      </div>
</div>
</div>