<div class="mt-1">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <a routerLink="">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        
        <label class="btn btn-outline-primary" for="btnradio1">Home </label>
      </a>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Clientes</label>
  
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Barbeiros</label>
  
        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio4">Serviço</label>
  </div>
</div>
<hr class="mt-1"/>
<div class="navegacao">
  <router-outlet>

  </router-outlet>
</div>
