<form>
    <h2>Atualizar Barbeiro</h2>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <label>ID</label>
                <input name="id" [(ngModel)]="barbeiro.id" type="text" class="form-control" disabled />
            </div>
            <div class="col-md-6">
                <label>Data de Cadastro</label>
                <input name="dataCadastro" [(ngModel)]="barbeiro.dataCadastro" type="text" class="form-control" disabled />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label>Nome Completo*</label>
                <input name="nome" [(ngModel)]="barbeiro.nome" type="text" class="form-control" required />
            </div>
            <div class="col-md-6">
                <label>CPF*</label>
                <input name="cpf" [(ngModel)]="barbeiro.cpf" type="text" class="form-control" required />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label>Email*</label>
                <input name="email" [(ngModel)]="barbeiro.email" type="email" class="form-control" required />
            </div>
            <div class="col-md-6">
                <label>Telefone*</label>
                <input name="telefone" [(ngModel)]="barbeiro.telefone" type="text" class="form-control" required />
            </div>
        </div>
        <div class="buttons mt-3">
            <button (click)="atualizar()" type="submit" class="btn btn-danger">Salvar</button>
            <button (click)="voltar()"  class="btn btn-success" class="btn btn-warning">Voltar</button>
        </div>

    </div>
</form>